<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DefaultApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sample app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APMAndroidAgent"
        android:usesCleartextTraffic="true">
        <activity
            android:name="co.elastic.apm.android.test.activities.FullCreationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".okhttp.NetworkCallingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MissingOnResumeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MissingOnStartAndOnResumeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ErrorHalfWayActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ErrorActivity"
            android:exported="true" />
        <activity
            android:name=".activities.Hilt_InstrumentedActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SimpleCoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".activities.TitleActivity"
            android:exported="true" />
        <activity
            android:name=".activities.NoLifecycleMethodsActivity"
            android:exported="true" />
    </application>

</manifest>