<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.elastic.apm.android.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <!-- Launch TrueTime's cache clearing process when the device has been rebooted -->
        <receiver
            android:name=".internal.utilities.time.ntp.TrueTimeBootBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".internal.features.launchtime.LaunchTimeContentProvider"
            android:authorities="${applicationId}.elasticlaunchtimeprovider"
            android:exported="false" />
    </application>
</manifest>