name: ci

on:
  pull_request:
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"
      - "**/*.png"
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"
      - "**/*.png"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: lint
        run: ./gradlew lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Build
        run: ./gradlew assemble
      - name: Checks and unit tests
        run: ./checks.sh
      - name: Start ES
        id: es
        run: |
          curl -fsSL https://elastic.co/start-local | sh -s -- --esonly -v 9.2.0
          source elastic-start-local/.env
          { 
            echo "local_url=$ES_LOCAL_URL"
            echo "local_api_key=$ES_LOCAL_API_KEY"
          } >> "$GITHUB_OUTPUT"
      - name: Start EDOT Collector
        run: |
          set -e
          demo_app_dir="build/demo-app"
          edot_collector_build="$demo_app_dir/edot-collector/build"
          edot_collector_url="http://127.0.0.1:4318"
          git clone https://github.com/elastic/android-agent-demo.git $demo_app_dir
          
          # Setting ES properties
          cat > "$demo_app_dir/elasticsearch.properties" <<EOF
          endpoint=$ES_LOCAL_URL
          api_key=$ES_LOCAL_API_KEY
          EOF
          
          # Preparing collector binary
          $demo_app_dir/gradlew -p "$demo_app_dir" :edot-collector:prepareEdotCollector
          
          # Launching EDOT Collector
          "$edot_collector_build/bin/otelcol" --config "$edot_collector_build/configuration/edot-configuration.yml" &
          
          # Waiting for EDOT Collector to run
          .github/scripts/tools/await_port.sh 4318 30
        env:
          ES_LOCAL_URL: ${{ steps.es.outputs.local_url }}
          ES_LOCAL_API_KEY: ${{ steps.es.outputs.local_api_key }}
      - name: Enable KVM for Android tests
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Android tests
        uses: reactivecircus/android-emulator-runner@1dcd0090116d15e7c562f8db72807de5e036a4ed  # v2.34.0
        with:
          api-level: 29
          script: |
            # Running instrumentation tests
            ./android_tests.sh
            
            # Launching integration tests
            .github/scripts/integration-test/integration_test.sh
        env:
          ES_LOCAL_URL: ${{ steps.es.outputs.local_url }}
          ES_LOCAL_API_KEY: ${{ steps.es.outputs.local_api_key }}
      - name: Store test results
        if: success() || failure()
        uses: actions/upload-artifact@v5
        with:
          name: test-results
          path: |
            **/build/reports/tests/testDebugUnitTest/**/*
            **/build/test-results/testDebug*/TEST-*.xml
            **/build/test-results/test/TEST-*.xml
            **/build/outputs/androidTest-results/**/TEST-*.xml

  # The very last job to report whether the Workflow passed.
  # This will act as the Branch Protection gatekeeper
  ci:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  test-release:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    permissions:
      attestations: write
      contents: write
      id-token: write
    env:
      TARBALL_FILE: dist.tar
    steps:
      - id: buildkite-run
        name: Run Release dry-run
        uses: elastic/oblt-actions/buildkite/run@v1
        with:
          branch: ${{ github.ref_name }}
          pipeline: "apm-agent-android-release"
          token: ${{ secrets.BUILDKITE_TOKEN }}
          wait-for: true
          env-vars: |
            branch_specifier=${{ github.ref_name }}
            target_specifier=all
            dry_run=true
            TARBALL_FILE=${{ env.TARBALL_FILE }}

      - uses: elastic/oblt-actions/buildkite/download-artifact@v1
        with:
          build-number: ${{ steps.buildkite-run.outputs.number }}
          path: ${{ env.TARBALL_FILE }}
          pipeline: ${{ steps.buildkite-run.outputs.pipeline }}
          token: ${{ secrets.BUILDKITE_TOKEN }}

      - name: untar the buildkite tarball
        run: tar xvf ${{ env.TARBALL_FILE }}

      - name: generate build provenance (jar files)
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ github.workspace }}/**/build/libs/*.jar"

      - name: generate build provenance (aar files)
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ github.workspace }}/**/build/outputs/aar/*.aar"
