---
name: release

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      branch_specifier:
        description: The branch to release ex. main or 0.6.
        required: true
        default: "main"
        type: string

      target_specifier:
        description: Specify which repo to deploy, all by default.
        required: true
        default: "all"
        type: choice
        options:
          - "all"
          - "mavenCentral"
          - "pluginPortal"

      version_override_specifier:
        description: If set, this version will override the agent's gradle.properties version
        required: false
        type: string

      dry_run:
        description: If set, this will not run a release but run a dry-run
        default: false
        required: true
        type: boolean

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      TARBALL_FILE: dist.tar
    permissions:
      attestations: write
      contents: write
      id-token: write
    steps:
      - id: notification
        name: Notify that a release will start
        uses: elastic/oblt-actions/slack/send@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-agent-mobile"
          message: |
            :runner: [${{ github.repository }}] Release *${{ github.ref_name }}* has been triggered with the following params:
            ```${{ toJSON(github.event.inputs) }}```

      - id: buildkite-run
        name: Run Release
        uses: elastic/oblt-actions/buildkite/run@v1
        with:
          branch: ${{ github.ref_name }}
          pipeline: "apm-agent-android-release"
          token: ${{ secrets.BUILDKITE_TOKEN }}
          wait-for: true
          env-vars: |
            branch_specifier=${{ inputs.branch_specifier || 'main' }}
            target_specifier=${{ inputs.target_specifier || 'all' }}
            version_override_specifier=${{ inputs.version_override_specifier || '' }}
            dry_run=${{ inputs.dry_run || 'false' }}
            TARBALL_FILE=${{ env.TARBALL_FILE }}

      - uses: elastic/oblt-actions/buildkite/download-artifact@v1
        with:
          build-number: ${{ steps.buildkite-run.outputs.number }}
          path: ${{ env.TARBALL_FILE }}
          pipeline: ${{ steps.buildkite-run.outputs.pipeline }}
          token: ${{ secrets.BUILDKITE_TOKEN }}

      - name: untar the buildkite tarball
        run: tar xvf ${{ env.TARBALL_FILE }}

      - name: generate build provenance (jar files)
        uses: actions/attest-build-provenance@bdd51370e0416ac948727f861e03c2f05d32d78e  # v1.3.2
        with:
          subject-path: "${{ github.workspace }}/**/build/libs/*.jar"

      - name: generate build provenance (aar files)
        uses: actions/attest-build-provenance@bdd51370e0416ac948727f861e03c2f05d32d78e  # v1.3.2
        with:
          subject-path: "${{ github.workspace }}/**/build/outputs/aar/*.aar"

      - if: ${{ success() }}
        uses: elastic/oblt-actions/slack/send@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-agent-mobile"
          message: |
            :tada: :rocket: [${{ github.repository }}] Release *${{ github.ref_name }}* has been successful in Buildkite: (<${{ steps.buildkite-run.outputs.build }}|build>)

      - if: ${{ failure() }}
        uses: elastic/oblt-actions/slack/send@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-agent-mobile"
          message: |
            :ghost: [${{ github.repository }}] Release *${{ github.ref_name }}* didn't get triggered in Buildkite.
            Build: (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>)
  post_release:
    name: Post Release
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch_specifier || 'main' }}
          token: ${{ env.GITHUB_TOKEN }}
      - uses: elastic/oblt-actions/git/setup@v1
      - uses: ./.github/actions/setup
      - if: ${{ ! inputs.dry_run }}
        run: ./gradlew postDeploy -Prelease=true -Pversion_override=${{ inputs.version_override_specifier || '' }}
