---
name: release

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      branch_specifier:
        description: The branch to release ex. main or 0.6.
        required: true
        default: "main"
        type: string

      target_specifier:
        description: Specify which repo to deploy, all by default.
        required: true
        default: "all"
        type: choice
        options:
          - "all"
          - "mavenCentral"
          - "pluginPortal"

      version_override_specifier:
        description: If set, this version will override the agent's gradle.properties version
        required: false
        type: string

      dry_run:
        description: If set, this will not run a release but run a dry-run
        default: false
        type: boolean

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: elastic/apm-pipeline-library/.github/actions/github-token@main
        with:
          url: ${{ secrets.VAULT_ADDR }}
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
      - uses: elastic/apm-pipeline-library/.github/actions/setup-git@current
        with:
          username: ${{ env.GIT_USER }}
          email: ${{ env.GIT_EMAIL }}
          token: ${{ env.GITHUB_TOKEN }}
      - id: buildkite
        name: Run Release
        uses: elastic/apm-pipeline-library/.github/actions/buildkite@current
        with:
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
          pipeline: apm-agent-android-release
          waitFor: false
          printBuildLogs: false
          buildEnvVars: |
            branch_specifier=${{ inputs.branch_specifier || 'main' }}
            target_specifier=${{ inputs.target_specifier || 'all' }}
            version_override_specifier=${{ inputs.version_override_specifier || '' }}
            dry_run=${{ inputs.dry_run || 'false' }}

      - if: ${{ success() }}
        uses: elastic/apm-pipeline-library/.github/actions/slack-message@current
        with:
          url: ${{ secrets.VAULT_ADDR }}
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          channel: "#apm-agent-mobile"
          message: |
            :runner: [${{ github.repository }}] Release *${{ github.ref_name }}* has been triggered in Buildkite: (<${{ steps.buildkite.outputs.build }}|build>)

      - if: ${{ failure() }}
        uses: elastic/apm-pipeline-library/.github/actions/slack-message@current
        with:
          url: ${{ secrets.VAULT_ADDR }}
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          channel: "#apm-agent-mobile"
          message: |
            :ghost: [${{ github.repository }}] Release *${{ github.ref_name }}* didn't get triggered in Buildkite.
            Build: (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>)
