---
name: release

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      branch_specifier:
        description: The branch to release ex. main or 0.6.
        required: true
        default: "main"
        type: string

      target_specifier:
        description: Specify which repo to deploy, all by default.
        required: true
        default: "all"
        type: choice
        options:
          - "all"
          - "mavenCentral"
          - "pluginPortal"

      version_override_specifier:
        description: If set, this version will override the agent's gradle.properties version
        required: false
        type: string

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - id: buildkite
        name: Run Release
        uses: elastic/apm-pipeline-library/.github/actions/buildkite@current
        with:
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
          pipeline: observability-release
          waitFor: false
          printBuildLogs: false
          buildEnvVars: |
            repo=${{ github.repository }}
            commit=${{ github.sha }}
            command=.ci/release.sh
            channel='#apm-agent-mobile'
            branch_specifier=${{ inputs.branch_specifier || 'main' }}
            target_specifier=${{ inputs.target_specifier || 'all' }}
            version_override_specifier=${{ inputs.version_override_specifier || '' }}

      - if: ${{ always() }}
        uses: elastic/apm-pipeline-library/.github/actions/slack-message@current
        with:
          url: ${{ secrets.VAULT_ADDR }}
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          channel: "#on-week-oblt-productivity"
          message: |
            :runner: [${{ github.repository }}] Release *${{ github.ref_name }}* has been triggered in Buildkite: (<${{ steps.buildkite.outputs.build }}|build>)
