name: snapshoty

on:
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  process:
    runs-on: ubuntu-latest
    steps:
      - name: Publish snaphosts
        uses: elastic/apm-pipeline-library/.github/actions/snapshoty-simple@feature/use-snapshoty-with-docker
        with:
          config: '.ci/snapshoty.yml'
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
